{% extends 'base.html.twig' %}

{% block title %}Currency Converter{% endblock %}

{% block body %}
    <div class="section section-basic" id="basic-elements">
        <div class="container">
            <h3 class="title">Currency Converter</h3>

              <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <!-- Tab panes -->
                {{ form_start(form) }}
                <div class="row">
                  <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                      <label for="currency_order_payoutAmount">Currency options</label>
                      {{ form_widget(form.currencyId, { 'attr': {'class': 'custom-select'} }) }}
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                      <label for="currency_order_currencyAmount">Currency to convert</label>
                      {{ form_widget(form.currencyAmount, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                      <div class="form-group">
                        <label for="currency_order_payoutAmount">Equivalent in US Dollars</label>
                        {{ form_widget(form.payoutAmount, { 'attr': {'class': 'form-control'} }) }}
                      </div>
                  </div>
                </div>
                <div class="section">
                  <div class="container">
                    <h4 class="title">Currency order details</h4><hr>
                    <div id="typography">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="typography-line">
                            <h4>
                              <span>Exchange rate for foreign currency</span><div class="exchRate">0.00</div></h4>
                          </div>
                          <div class="typography-line">
                            <h4>
                              <span>Surcharge percentage</span><div class="surChargePercentage">0.00</div></h4>
                          </div>
                          <div class="typography-line">
                            <h4>
                              <span>Surcharge amount</span><div class="surChargeAmount">0.00</div></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><hr>          
              {{ form_end(form) }}
              <button class="btn btn-primary mb-2" data-toggle="modal" data-target="#myModal">Get quote</button>
        </div>
      </div>
        </div>
      </div>

      <!-- Sart Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header justify-content-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
              <h4 class="title title-up">Currency Quote</h4>
            </div>
            <div class="modal-body">
        
                <label>Rate:</label>
                <div class="exchRate">No values entered</div><hr>
        
                 <label>Surcharge percentage:</label>
                <div class="surChargePercentage">No values entered</div><hr>

                <label>Currency being acquired:</label>
                <div class="currencyAcquired">No values entered</div><hr>
   
                 <label>Surcharge amount:</label>
                <div class="surChargeAmount">No values entered</div><hr>

                <label>Total cost or currency:</label>
                <div class="totalCost">No values entered</div><hr>
        
              <p>The above quote shows your currency order details. Please ensure everything is in order before confirming order.
              </p><hr>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success">Confirm order</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--  End Modal -->
{% endblock %}
