<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<!--     Fonts and icons     -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        {% block stylesheets %}
		<!-- CSS Files -->
		<link href="{{ asset( 'build/css/vendors.css' ) }}" rel="stylesheet"/>
		<link href="{{ asset( 'build/app.css' ) }}"  rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <!--   Core JS Files   -->
		<script src="{{ asset( 'build/js/vendors.js' ) }}" type="text/javascript"></script>
		<script src="{{ asset( 'build/app.js' ) }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
